@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z5gb3e');
  src:  url('../fonts/icomoon.eot?z5gb3e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z5gb3e') format('truetype'),
    url('../fonts/icomoon.woff?z5gb3e') format('woff'),
    url('../fonts/icomoon.svg?z5gb3e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-amd:before {
  content: "\e900";
  color: #ed1c24;
}
.icon-intel:before {
  content: "\e901";
  color: #0071c5;
}
.icon-nvidia:before {
  content: "\e902";
  color: #76b900;
}
